<div class="component__inner list__inner">
  {{> component this}} 

  <div class="list__main">
  {{#each _items}}
    <div class="list__item-container">
      <div class="list__item">{{{content}}}</div>
    </div>
  {{/each}}
  </div> 

</div>
